@charset "UTF-8";

/* Importando arquivos de fontes e icones */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: Roboto, Arial, "Times New Roman";
    font-size: 14px;
}

h1 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

label, input[text] {
    margin-top: 5px;
}

button {
    background-color: rgba(5, 112, 116, 0.6);
    margin-top: 5px;
    cursor: pointer;
}

#nomecompleto, #nomecompleto1 {
    font-weight: bold;
}